* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", serif;
}

.word {
  animation: word 15s infinite ease-in-out;
  position: absolute;
}

.word:nth-child(1) {
  animation-delay: -15s;
}
.word:nth-child(2) {
  animation-delay: -11s;
}
.word:nth-child(3) {
  animation-delay: -7s;
}
.word:nth-child(4) {
  animation-delay: -3s;
}

@keyframes word {
  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  80% {
    filter: blur(35px);
    opacity: 0;
  }
}

.img5,
.img6,
.img7,
.img8 {
  display: none;
}

.links-container a:hover {
  cursor: pointer;
  color: hsl(167, 40%, 24%);
}

.links-container button:hover {
  background-color: hsla(210, 9%, 39%, 0.42);
  cursor: pointer;
}

.image-container {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/5818612d7b22919868753dc04511e852/8b3a4a72");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar {
  /* background-color: red; */
  position: absolute;
  top: 20px;
  width: 100vw;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar img:hover {
  cursor: pointer;
}
.btn-menu {
  background-color: transparent;
  border: none;
}
.creatives {
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: var(--fraunces);
  letter-spacing: 8px;
  /* font-size: 1.3rem; */
  margin-bottom: 90px;
  width: 100%;
  /* overflow: hidden; */
}
.creatives h1 {
  text-align: center;
}
.arrow {
  position: absolute;
  bottom: 180px;
  display: none;
}
.body-info img {
  width: 100vw;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0px;
  padding: 0 40px;
}
.info h1 {
  font-family: var(--fraunces);
  font-weight: 800;
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 20px;
  color: hsl(212, 27%, 19%);
}
.info p {
  text-align: center;
  font-family: var(--barlow);
  /* font-weight: 600; */
  margin-bottom: 20px;
  line-height: 30px;
  color: hsl(232, 10%, 55%);
}
.info h3 {
  font-family: var(--fraunces);
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  border-bottom: 5px solid hsl(7, 99%, 70%);
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  font-size: 0.8rem;
}
.info h3:hover {
  cursor: pointer;
  border-bottom: 10px solid hsl(51, 100%, 49%);
}
.graphic-design {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/e9fba5dc03980d482b26fc610defac61/6cbcd403");
  height: 40rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw; */
  position: relative;
}
.graphic-info {
  position: absolute;
  bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}
.photography {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/b932ee62409a886ff3088a09020eb062/a2b67e63");
  height: 40rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw; */
  position: relative;
}
.photography-info {
  position: absolute;
  bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services h1 {
  font-family: var(--fraunces);
  color: hsl(167, 40%, 24%);
  margin-bottom: 20px;
}
.services p {
  font-family: var(--barlow);
  color: hsl(167, 40%, 24%);
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}
.photo-text {
  color: hsl(198, 62%, 26%) !important;
}
.all-reviews {
  /* background-color: red; */
  margin-top: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  transition: 1s ease-in-out;
}

.all-reviews:hover {
  /* box-shadow: 1px 4px 8px gray; */
  transform: scale(1.2);
}

.all-reviews img {
  width: 70px;
  margin-bottom: 20px;
  border-radius: 150px;
}
.all-reviews p {
  text-align: center;
  font-family: var(--barlow);
  margin-bottom: 20px;
  color: hsl(213, 9%, 39%);
  font-weight: 600;
  line-height: 28px;
}
.all-reviews h3 {
  text-align: center;
  margin: 10px;
  font-family: var(--fraunces);
  font-weight: 800;
  color: hsl(212, 27%, 19%);
}
.position {
  font-weight: unset !important;
  font-size: 0.8rem;
  color: hsl(210, 4%, 67%) !important;
}
.reviews {
  /* background-color: blue; */
  margin-top: 60px;
}
.review-header {
  text-align: center;
  color: hsl(232, 10%, 55%);
  font-family: var(--fraunces);
  font-weight: 800;
  font-size: 1.1rem;
  letter-spacing: 4px;
  margin-top: 40px;
}
.group-images img {
  width: 50vw;
}
.group1 {
  display: flex;
  flex-direction: row;
}
.group2 {
  display: flex;
  flex-direction: row;
}
.footer {
  background-color: hsl(168, 34%, 41%);
  position: relative;
}
.footer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}
.sitemap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  /* font-weight: 400; */
  width: 100%;
  font-family: var(--barlow);
  color: hsl(167, 40%, 24%);
  /* background-color: red; */
}

.sitemap a {
  transition: 1s ease-in-out;
}
.sitemap a:hover {
  color: white;
  cursor: pointer;
}

.icon-links {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 40px;
  /* background-color: red; */
}

.icon-links img {
  transition: 1s ease-in-out;
}
.icon-links img:hover {
  transform: scale(1.5);
}

.icon-links:hover {
  color: white;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 90vw;
  top: 60px;
  /* padding-top: 40px; */
  height: 0;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.show-container {
  height: 285px;
}

.links-container p {
  font-family: var(--barlow);
  font-weight: 600;
  color: hsl(232, 10%, 55%);
  margin-top: 30px;
}
.links-container button {
  margin-bottom: 50px;
  background-color: hsl(51, 100%, 49%);
  border: none;
  padding: 20px;
  border-radius: 30px;
  font-family: var(--fraunces);
  font-weight: 800;
  margin-top: 30px;
}
.active {
  border-bottom: 1px solid #333;
}
.linkedin {
  width: 20px;
}
.creator {
  color: white;
  font-family: var(--fraunces);
  font-weight: 400;
  font-size: 0.7rem;
  margin-bottom: 10px;
}
@media screen and (min-width: 800px) {
  .image-container {
    background-image: url("https://dl.airtable.com/.attachmentThumbnails/b839696c233aeb10bd236f1d96cf2af1/d38b2b44");
    height: 100vh;
    /* background-size: auto; */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .img5,
  .img6,
  .img7,
  .img8 {
    display: unset;
  }
  .creatives {
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: var(--fraunces);
    letter-spacing: 8px;
    /* font-size: 1.3rem; */
    margin-bottom: 18rem;
    width: 100%;
    /* overflow: hidden; */
  }
  .creatives h1 br {
    display: none;
  }
  .arrow {
    position: absolute;
    bottom: 22rem;
    display: none;
  }
  .egg-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info {
    margin: unset;
    padding: unset;
    grid-column: 1;
    grid-row: 1;
  }
  .egg-div img {
    width: 100%;
    grid-column: 2;
  }
  .cup-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info2 {
    margin: unset;
    padding: unset;
    grid-column: unset;
    grid-row: unset;
  }
  .cup-div img {
    width: 100%;
    /* grid-column: 2; */
  }
  .navbar {
    padding: unset;
    width: 80vw;
    left: 40px;
    top: 40px;
  }
  .info {
    align-items: flex-start;
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    width: 100%;
  }
  .info h1 {
    text-align: left;
  }
  .info p {
    text-align: left;
  }
  .services {
    width: 50vw;
    background-size: cover;
  }
  .full-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .graphic-design {
    background-image: url("https://dl.airtable.com/.attachmentThumbnails/5927757fb0619ae76b3c8a81e33d566a/50ffb2ae");
    height: 40rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    position: relative;
  }
  .photography {
    background-image: url("https://dl.airtable.com/.attachmentThumbnails/4b578da5779e12e42b886c1d7561edab/e68b31d4");
    height: 40rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
  }
  .photography-info {
    position: absolute;
    bottom: 90px;
    left: 10vw;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .graphic-info {
    position: absolute;
    bottom: 90px;
    left: 5vw;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .reviews {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* row-gap: ; */
    margin-bottom: 70px;
  }
  .review-header {
    margin-top: 80px;
  }
  .all-reviews {
    margin: 0;
  }
  .img1,
  .img2,
  .img3,
  .img4 {
    display: none;
  }
  .group-images {
    display: flex;
  }
  .group-images img {
    width: 50%;
  }
  .sitemap {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    width: 30%;
    font-family: var(--barlow);
    color: hsl(167, 40%, 24%);
    /* background-color: red; */
  }

  .icon-links {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 40px;
    /* background-color: red; */
  }

  .links-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: absolute;
    background-color: transparent;
    width: 40vw;
    top: 0px;
    right: 0;
    /* padding-top: 40px; */
    height: auto !important;
    transition: 1s ease-in-out;
    z-index: 2000;
  }

  .links-container button {
    margin-bottom: 0;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-family: var(--fraunces);
    font-weight: 800;
    margin-top: 30px;
    transition: 0.5s ease-in-out;
  }
  .links-container button:hover {
    background-color: hsla(210, 9%, 39%, 0.42);
    cursor: pointer;
  }

  .links-container a {
    color: white;
    font-weight: 400;
    transition: 0.5s ease-in-out;
  }
  .links-container a:hover {
    cursor: pointer;
    color: hsl(167, 40%, 24%);
  }

  .links-container button a {
    color: black;
  }

  .btn-menu {
    display: none;
  }
}
